# התעלמות מקבצי וידאו כבדים של הפרויקט
*.mp4
*.avi
*.mkv

# התעלמות ממשקולות המודלים של YOLO ו-LSTM
*.pt
*.pth
*.pkl

# התעלמות מדאטהסטים ומערכים של numpy
*.npy
*.csv

# קבצי מערכת זמניים של פייתון וקולאב
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
